@page "/fetchdata"

<PageTitle>Preveja o tempo</PageTitle>

@using API.Data
@inject WeatherForecastService ForecastService

<h1>Previsão do tempo</h1>

<p>Este componente demonstra a busca de dados de um serviço.</p>

@if (forecasts == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Resumo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
