@page "/counter"

<PageTitle>Contagem</PageTitle>

<h1>Contador</h1>

<p role="status">Contagem de clicks: @clicks</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click aqui</button>

@code {
    private int clicks = 0;

    private void IncrementCount()
    {
        clicks++;
    }
}
